<style>
    .bg-white.img-error {
        background: url('assets/img/page-error.jpg');
        display: flex;
        flex-direction: column;
        color: #181c32;
        background-size: cover;
        background-position: right bottom;
        height: 100vh;

    }
</style>

<div class="bg-white img-error" cz-shortcut-listen="true">
    <!--begin::Main-->
    <div class="d-flex flex-column flex-root">
        <!--begin::Authentication - Error 404-->
        <div class="d-flex flex-column flex-column-fluid pt-20">
            <!--begin::Content-->
            <div class="d-flex flex-column flex-center p-10 p-lg-20">
                <!--begin::Logo-->
                <a href="#" class="mb-15">
                    <img alt="Logo" src="assets/img/logo-kactus-hcm-estandar.svg" class="h-60px">
                </a>
                <!--end::Logo-->
                <!--begin::Wrapper-->
                <div class="text-center">
                    <!--begin::Logo-->
                    <h1 style="font-size: 150px;" class="text-stroke text-transparent">404</h1>
                    <h1 class="fw-bolder fs-2qx text-dark mb-7">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Página no encontrada</font>
                        </font>
                    </h1>
                    <!--end::Logo-->
                    <!--begin::Message-->
                    <div class="fw-bold fs-2 text-white-400 mb-15">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Lo sentimos, parece que no podemos encontrar la
                                página que estás buscando.</font>
                        </font>
                    </div>
                    <!--end::Message-->
                    <!--begin::Link-->
                    <a href="#" class="btn btn-lg btn-primary">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Ir a la página de inicio</font>
                        </font>
                    </a>
                    <!--end::Link-->
                </div>
                <!--end::Wrapper-->
            </div>
            <!--end::Content-->
        </div>
        <!--end::Authentication - Error 404-->
    </div>
    <!-- end ::Main-->
</div>